body { 
    font-family: sans-serif;
}
#board {
    background-color: rgba(227, 142, 235, 0.5);
    height: 300px;
    width: 300px;
}

.box {
    height: 96px;
    width: 96px;
    border: 2px solid rgb(195, 43, 226);
}